<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Back Office | Interview Master</title>
    <link rel="stylesheet" th:href="@{/resources/style.css}" />
</head>

<body>
<img th:src="@{/resources/asynctomatics-banner.PNG}" alt="logo">
<div class="wrapper">
    <h1>Interview Master</h1>
    <h2>Back Office</h2>
    <div class="displayQuiz">
        <table th:each="q : ${question}">
            <tr>
                <td class="question" th:text="${q.question}"></td>
                <td><button th:href="@{/{id}(id=${q.id})}">Show Answers</button></td>
            </tr>
        </table>
    </div>
    <a th:href="@{/question}"><button>New Question</button></a>
</div>

</body>
</html>