@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.wrapper {
    display: block;
    margin: 30px auto;
    max-width: 800px;
    font-family: 'Open Sans', sans-serif;
}

.displayQuiz, .displayForm {
    margin-top: 30px;
}

span {
    margin-left: 20px;
}

button {
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ff8732;
    width: 150px;
    transition: 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: #ff6900;
}

button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

input {
    font-family: 'Open Sans', sans-serif;
    padding: 8px 15px;
    border: 0.75px solid #000;
    border-radius: 4px;
    background: transparent;
    width: 100%;
    margin-top: 8px;
}

.correct {
    width: 70px !important;
    margin-bottom: 8px;
}
